USE [PruebaCoco]
GO
/****** Object:  Table [dbo].[chiquito]    Script Date: 30/06/2020 07:52:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiquito](
	[id] [int] NOT NULL,
	[mensaje] [varchar](10) NOT NULL,
 CONSTRAINT [PK_chiquito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
